.container{
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.item{
    width: 200px;
}

.shopitem{
    border: 1px solid black;
    background-color: silver;
    margin: 10px;
    padding: 5px;
    min-height: 300px;
}

img{
    width: 100%;
}

/* telefonams */
@media screen AND (max-width: 600px){
    .container{
        width: 90%;
    }

    .item{
        width: 100%;
    }

    h1{
        color: red;
    }
}

/* planšetėms */
@media screen AND (min-width: 601px) AND (max-width: 992px) {
    .container{
        width: 85%;
    }

    .item{
        width: 50%;
    }

    .shopitem{
        min-height: 400px;
    }

    h1{
        color: blue;
    }
}

/* nešiojamiems kompiuteriams */
@media screen AND (min-width: 993px) AND (max-width: 1200px){
    .container{
        width: 70%;
    }

    .item{
        width: 33.33%;
    }

    h1{
        color: green;
    }
}

/* desktop/staliniams kompiuteriams su platesniais ekranais */
@media screen AND (min-width: 1201px){
    .container{
        width: 70%;
    }

    .item{
        width: 25%;
    }
}