.menu{
    text-decoration: none;
    font-size: 20pt;
    color: yellow;
    text-transform: uppercase;
}

/* aktyvuojasi stilius kai uzvesite su pelyte */
.menu:hover{
     color: orange;
}

ul.menu{
    list-style-type: none;
}