.menu:hover{
    color: red !important;
    font-size: 20px;    
}

.menu{
    color:white;
}

.jackson{
    color:black;
}

.jackson:hover{
    color:red;
    font-size: 20px;
}

.brand-logo:hover{
    color:red;
}

.input-field col {
    color: white;
}








