.menu{
    text-decoration: none;
    font-size: 20pt;
    color:yellow;`
    font-family:;
    text-transform:uppercase;
    
}

/* aktyvuojasi stilius, kai uzvesite su pelyte */
.menu:hover{
     color:orange;       
}

ul.nav{
    list-style-type:none;
}

#kontaktai{
    font-style: normal;
}

{
    font-family:'Courier New', Courier, monospace;
}

